.ad {
    height: 100%;
    display: flex;
    justify-content: center;
}

.ad-list {
    width: 600px;
}

.ad-list-header {
    text-decoration: none;
    text-align: left;
    margin: 5px;
}

.ad-list-header > h2 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

.ad-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.ad-details-col1 {
    max-width: 480px;
    min-height: 100px;
    margin-right: 20px;
    text-align: left;
    flex: 1 1 auto;
}

.ad-details-col1 > h3 {
    margin: 0;
}

.ad-details-col2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: auto;
    min-width: 80px;
    font-size: 12px;
}

.ad-details-col2 > p {
    color: #d50000;
    margin-top: 0;
    font-size: 18px;
}

.ad-details-col2 > button {
    height: 24px;
    background: none;
    border: none;
    color: #ffffff;
    background-color: #0A3387;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: 0;
}

.ad-details-col2 > button:hover {
    background-color: #0f4cc7;
}