.cart {
    height: 100%;
    display: flex;
    justify-content: center;
}

.cart-list {
    width: 600px;
}

.cart-list-header {
    display: block;
    text-decoration: none;
    text-align: left;
    margin: 5px 0px 5px 5px;
}

.cart-list-header > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.cart-list-header > h2 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px 0px 10px;
}

.cart-item.list-header {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
}

.cart-details-col3.list-header {
    text-align: right
}

.cart-details-col1 {
    max-width: 360px;
    margin-right: 10px;
    text-align: left;
    flex: 1 1 auto;
}

.cart-details-col1 > h3 {
    margin: 0;
}

.cart-details-col1 > p {
    font-size: 12px;
}

.cart-price {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: auto;
    min-width: 100px;
    text-align: end;
}

.cart-price, .cart-list-total > p {
    color: #d50000;
    margin-top: 0;
    font-size: 18px;
}

.cart-details-col2, .cart-details-col3 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
    min-width: 100px;
    height: 100%;
}

.cart-details-col2 > input {
    width: 50px;
    align-self: center;
}

.cart-button-remove-item, .filler {
    background: none;
    border: none;
    color: #666666;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20px;
    outline: 0;
}

.cart-list-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 35px 0px 5px;
    height: 30px;
}

.cart-list-total > h2 {
    margin: 10px 0px;
}

.cart-list-total > p {
    font-size: 24px;
    margin-left: auto;
    margin-bottom: 0;
}