.login-page {
    height: 100%;
    width: 100%;
    background-color: #DF1878;
}

.login-page-form {
    height: 240px;
    width: 320px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}