.header {
    display: flex;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F71B85;
}

.header-inner {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.header-inner-cart {
    padding-left: 15px;
    /*margin-left: auto;*/
}

.header-inner-cart > div {
    position: relative;
    /*padding: 0;*/
}

.header-inner-cart-count {
    position: absolute;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0A3387;
    font-size: 0.6em;
    top: -3px;
    right: -7px;
    padding: 1px 3px;
    border-radius: 3px;
    text-align: center;
    min-width: 6px;
    min-height: 6px;
}

.header-inner-user {
    margin-left: auto;
    color: #FFFFFF;
    font-size: 1em;
    text-align: right;
}

.header-inner-logout {
    font-size: 0.8em;
}

.header-inner-login {
    font-size: 0.8em;
    margin-left: auto;
}